/* Reset styles for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define custom CSS variables */
:root {
  --elewa-group-website-color-primary: #000000;
  --elewa-group-website-color-white: #ffffff;
}

h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color:var(--elewa-group-website-color-white) ;  
}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color:var(--elewa-group-website-color-white) ; 
}

/* Styles for <h4> headings */
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* Styles for paragraphs (<p>) */
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Styles for links (<a>) */
a {
  text-decoration: none; /* Remove underlines from links */
}

/* Styles for <div> elements */
div {
  display: block;
}

nav{
  display:block;
}
.subtitle{
  font-size: 1.5rem!important;
  font-weight: 400;
  font-family: var(--elewa-group-website-dmsans-regular);
  margin-bottom: 20px;
  
}
.title{
  font-family: var(--elewa-group-website-jeko-title);
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 20px;
}

.header{
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.header-conatiner{
  max-width: 100vw;
  height: 10vh;
}

.header-border{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  max-width: 90%;
  margin: auto;
}

.header-logo{
  width: 50%;
  align-items: left;
  margin: 16px 0;
  font-size: 28px;
  font-family: "DMSans-ITalic";

}

.nav{
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: right;
  list-style-type: none;
  width: 50%;
}

.navbar, ul{
  list-style-type: none;
  display: flex;
}

.nav-item{
  margin: 10px 0;
}
.homepage{
 height: 100vh;
 margin: 0;
 padding: 0;
 font-family: var(--elewa-group-website-dmsans-regular);
 position: relative;

}

.homepage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
}

.background-img{
  /*position: absolute;*/
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.homepage-box{
  width: 90%;
  margin: auto;
  position: absolute;
  height: 100%;
}

.homepage-group{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--elewa-group-website-color);
  max-width: max(70%,32rem);
}
/* Styles for the root container of the application */
.App {
  text-align: center;
  max-width: 100%;
  min-height: 100%;
}

/* Styles for the logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for the logo spin */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Styles for the header section */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styles for links within the header */
.App-link {
  color: #61dafb;
}

/* Keyframes animation for spinning the logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer styles and sub-elements */
.footer-label, .footer-label h4, .footer-text-wrapper, p, a, .contact, .navigation, .terms, .brands {
  color: var(--elewa-group-website-color-white);
  margin-left: 0;
}

/* Styles for the footer container */
.footer {
  background-color: var(--elewa-group-website-color-primary);
  padding-inline: 0.5rem;
  padding-top: 3rem;
  max-width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  color: var(--elewa-group-website-color-white);
  text-decoration-color: var(--elewa-group-website-color-white);
}

/* Styles for the footer navigations section */
.footer-navigations {
  margin-inline: 4rem;
  margin-top: 4rem;
  border-top: 1px solid var(--elewa-group-website-color-white);
}

/* Styles for the footer label container */
.footer-label {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 1rem;
}

/* Styles for footer text and <h4> headings */
.footer-text-wrapper, h4 {
  font-size: 1.2rem !important;
  font-weight: bold;
  font-family: 'Jeko-Medium';
  text-decoration: underline;
}

/* Styles for contact, navigation, terms, and brands sections */
.hq, .contact, .navigation, .terms, .brands {
  text-decoration: none;
  font-family: 'DMSans-Regular';
  font-size: 1.1rem;
}

/* Styles for the box and vector */
.box {
  height: 1px;
  width: 1108px;
}

.box .vector {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 1108px;
}

/* Styles for the label and terms-and-conditions */
.label {
  height: 78px;
  width: 204px;
}

.label .terms-and-conditions {
  color: #ffffff;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 0;
  width: 204px;
}

/* Styles for the Elewa logo */
.elewa-logo {
  background-image: url('view/images/elewa-logo.png');
  background-size: 100% 100%;
  height: 39px;
  width: 250px;
}

/* Styles for social media icons */
.social-media {
  margin-right: 2rem;
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: relative;
  display: flex;
}

/* Styles for the footer images container */
.footer-imgs {
  padding: 1.5rem 5rem;
  position: relative;
  display: flex;
}
